@import "../styles/Root.scss";


.map{
    width: 100%;
    height: 100%;


    .location{
        position: absolute;
        width: 50px;
        height: 50px;
        right: 25px;
        bottom: 25px;
        background-color: #fff;
        border-radius: 5px;
        border: none;
        z-index: 10;
        background-image: url('../assets/locate.svg');
        box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }
    
    .customoverlay {
        position: relative;
        bottom: 40px;
        border-radius: 6px;
        border: 1px solid #ccc;
        border-bottom: 2px solid #ddd;
        float: left;
        transform: scale(0.8);
      
        &:nth-of-type(n) {
          border: 0;
          box-shadow: 0px 1px 2px #888;
        }
      
        a {
          display: block;
          text-decoration: none;
          color: #000;
          text-align: center;
          border-radius: 6px;
          overflow: hidden;
          background: #ffc400 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
        }
      
        .title {
          display: block;
          text-align: center;
          background: #fff;
          margin-right: 35px;
          padding: 8px 10px;
          font-size: 15px;
          font-weight: bold;
        }
      
        &:after {
          content: '';
          position: absolute;
          margin-left: -12px;
          left: 50%;
          bottom: -10px;
          width: 22px;
          height: 12px;
          background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
        }
      }
    
}

