@import "../../styles/Root.scss";

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #fff;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 10;

}